body{
  background-color: #00cccc;
}
.container, .row{
  margin: 0;
  padding: 0;
  width: 100%;
}



.fieldValid{
  color: green;
}
.fieldInvalid{
  color: red;
}

.displayNone{
  display: none;
}
.displayInline{
  display: Inline;
}

.name_title{
  padding-left: 10px;
  font-size: 40px;
}

.search_container{
  float: right;
  padding-top: 25px;
  padding-right: 30px;
}
.search_container .search_box{
  width: 250px;
}


.user_sidebar{
  float: left;
  width: 300px;
  margin: 20px;
}
.content_container{
  float: left;
  width: calc(100vw - 340px);
}
/*Profile styles*/
.profile_square{
  height: 300px;
  width: 300px;
}
.picture_overlay{
  padding-top: 209px;
}
.picture_overlay ul{
  background-color:rgba(0, 0, 0, 0.6);
  height: 81px;
  padding: 0;
  margin-bottom:0;
}
.picture_overlay li{
  list-style-type:none;
}
.picture_overlay button {
  background:transparent;
  border: 0;
  color: white;
}
.picture_overlay .pad_right{
  padding: 0;
  padding-right: 10px;
}
.picture_overlay .pad_left{
  padding: 0;
  padding-left: 10px;
  font-size: 24px;
}
.picture_overlay .pad_right button{
  font-size: 40px;
  padding-top: 20px;
  padding-right: 18px;
  float: right;
}
.profile_image{
  border: 2px solid white;
  height: 300px;
  width: 300px;
  position: absolute;
  z-index: -100;
  text-align: left;
}
.users_profile_image{
  border: 2px solid white;
  height: 200px;
  width: 200px;
  margin: 5px;
  text-align: left;
}
.users_image_container{
  height: 220px;
}
.users_images{
  border: 2px solid white;
  height: 150px;
  width: 150px;
  text-align: center;
}
.image_caption{
  height: 28px;
  font-size: 14px;
}
.users_profile_thumb{
  border: 2px solid white;
  height: 50px;
  width: 50px;
  text-align: left;
}

.links{
  width: 300px;
}
.links button{
  padding:10px;
  background-color:rgba(0, 0, 0, 0.6);
  border: 0;
  font-size: 17px;
  color: white;
}


.picturesOuterContainer{
  width: 320px;
  overflow: hidden;
  margin:5px;
}
.picturesInnerContainer{
  height: 200px;
  border: 2px solid white;
}

.pictureOuterContainer{
  margin:20px;
}
.pictureInnerContainer{
  height: 500px;
  border: 2px solid white;
}


.usersContainer button{
  background:transparent;
  border: 0;
  font-size: 16px;
  color: white;
}
