<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-5">
      <h3 class="name_title">{{userCtrl.user.fullName}}</h3>
    </div>
    <div class="col-xs-12 col-sm-7 text-center">
      <h1 ng-click="userCtrl.getTrips()">Find A Trip</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="user_sidebar">
      <div class="profile_square">
        <div>
          <img class="profile_image" ng-src="https://s3.amazonaws.com/powplanner/{{userCtrl.user.profilePicture}}"
          />
          <div class="picture_overlay">
            <div class="col-xs-6 pad_left">
              <ul>
                <li>
                    <button type='submit' ng-click="userCtrl.getMyTrips()">
                      My Trips
                    </button>
                </li>
                <li>
                  <button type='submit' ng-click="userCtrl.postNewTrip()">NewTrip
                  </button>
                </li>
              </ul>
            </div>
            <div class="col-xs-6 pad_right">
                <ul>
                  <li>
                    <button class='fa fa-gear' type='submit' ng-click="userCtrl.showSettings()"></button>
                  </li>
                </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="links">
        <button class="col-xs-6" type='submit' ng-click="userCtrl.getFriends()">
          Friends
        </button>
        <button class="col-xs-6" type='submit' ng-click="userCtrl.getFollowers()">
          Followers
        </button>
      </div>
      <div class="links">
        <button class="col-xs-6" type='submit' ng-click="userCtrl.showPictures()">
          Pictures
        </button>
        <button class="col-xs-6" type='submit' ng-click="userCtrl.showMessages()">
          Messages
        </button>
      </div>
      <div class="links">
         <button class="col-xs-12" type='submit' ng-click="userCtrl.getAllUsers()">
          All Users
        </button>
      </div>

      <br>
      <div class="links">
        <form class='photoUpload' method="post" enctype="multipart/form-data" action="http://localhost:3050/picture/upload">
          <input class='form-control' type="text" name="caption" placeholder="Caption"/>
          <input class='form-control' type="file" name="thumbnail"/>
          <button class="col-xs-12" type='submit'> Upload Picture</button>
        </form>
        <br>
      </div>

      <br>
      <!-- <div class="links">
        <form class='form-signin'>
          <input class='form-control' type="text" name="title" placeholder="Conversation Title">
          <input class='form-control' type="text" name="input" placeholder="Message">
          <input class='form-control' type="text" name="recipients", placeholder="Recipient">

          <div>
            People:
            <div ng-repeat="person in messageCtrl.people">
                {{person}}
            </div>
          </div>
          <form name="newPersonForm" class="newTripForm">
            <input type='text' ng-model="messageCtrl.person" name='person' placeholder='Add Person'/>
            <button type='submit' ng-click="tripCtrl.findPerson()"> Add Person
            </button>
          </form>

          <button class='btn btn-lg btn-primary btn-block', type='submit'>Send Message</button>
        </form>
      </div> -->
      <div class="links">
        <button class="links" type='submit' ng-click="userCtrl.logout()">
          Logout
        </button>
      </div>

<!-- <div ng-controller="pictureController as pictureCtrl" class="row links">
  <form class='photoUpload' name="uploadPictureForm" novalidate>
    <div>
        <label>Caption</label>
        <input type="text" class="form-control" ng-model="pictureCtrl.newPic.caption">
    </div>
    <div>
        <label>File</label>
        <input type="file" ng-file-select ng-model="pictureCtrl.newPic.image">
    </div>
    <br>
    <button class="btn btn-default" ng-click='pictureCtrl.createPicture(pictureCtrl.newPic)'>Submit</button>
  </form>
</div> -->


    </div>
    <div class="content_container">
      <trip></trip>
      <trips></trips>
      <user-list></user-list>
      <picture-list></picture-list>
      <messages></messages>
      <settings></settings>

    </div>
  </div>
</div>


