<div class="container landing">
  <!-- <div id="myCarousel" class="row carousel slide">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to = "0" class="active">
      <li data-target="#myCarousel" data-slide-to = "1">
      <li data-target="#myCarousel" data-slide-to = "2">
    </ol>
    <div class="carousel-inner">
      <div class="item active">
        <img src="https://static.pexels.com/photos/7042/pexels-photo.jpeg">
      </div>
      <div class="item">
        <img src="https://static.pexels.com/photos/2302/sky-people-whitespace-freedom.jpg">
      </div>
      <div class="item">
        <img src="https://static.pexels.com/photos/3853/sunny-sand-desert-hiking.jpeg">
      </div>
    </div>
    <a href="#myCarousel" class="carousel-control left" data-slide="prev">
      <span class="icon-prev">
    <a href="#myCarousel" class="carousel-control right" data-slide="next">
      <span class="icon-next">
  </div> -->
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-4 text-center">
      <form name="loginForm">
        <input type='text' ng-model="loginCtrl.login.username" ng-minlength="4" ng-maxlength="20" name='username' ng-class="loginCtrl.getCSS(loginForm.username)"  placeholder='Username' required/>
        <br>
        <div ng-show="!loginForm.username.$pristine && loginForm.username.$invalid">You must enter a valid username.</div>
        <input type='password' ng-model="loginCtrl.login.password" ng-minlength="6" ng-maxlength="20" name='password' ng-class="loginCtrl.getCSS(loginForm.password)"  placeholder='Password' required/>
        <br>
        <div ng-show="!loginForm.password.$pristine && loginForm.password.$invalid">You must enter a valid password.</div>
        <button type='submit' ng-click="loginCtrl.postLogin()"> Login
        </button>
      </form>
      <div ng-model="loginCtrl.message">{{loginCtrl.message}}</div>
      <br>
      <a href="/#/signup">Not a member? Join now</a>
    </div>
  </div>
</div>
