<div class="row" ng-class="tripCtrl.displayTrips()">
  <div class="col-xs-12">

    <div class="row" ng-show="tripCtrl.trip.title">
        <h1>Title: {{tripCtrl.trip.title}}</h1>
        <h2>Where: {{tripCtrl.trip.location}}</h2>
        <h3>Info: {{tripCtrl.trip.info}}</h3>
        <h2>Start: {{tripCtrl.trip.startDate | date :"MMM d,yyyy 'at' h:mma"}}</h2>
        <h2>End: {{tripCtrl.trip.endDate | date :"MMM d,yyyy 'at' h:mma"}}</h2>
        <h2>People: </h2>
        <div ng-repeat="person in tripCtrl.trip.people">
            <h3>{{person}}</h3>
        </div>
    </div>

    <br>
    <h1>My Trips </h1>
    <div class="row">
        <div class="trips col-xs-6 col-md-4" ng-repeat="trip in  tripCtrl.trips">
            <div ng-click="tripCtrl.getTrip(trip._id)">
                <h3>{{trip.title}}</h3>
            </div>
        </div>
    </div>

  </div>
</div>
