<div class="row" ng-class="pictureCtrl.dipslayPics()">

  <div class="pictureOuterContainer text-center">
      <img class="pictureInnerContainer" ng-src="https://s3.amazonaws.com/powplanner/{{pictureCtrl.picture.src}}" />
      <h2>{{pictureCtrl.picture._creator}}</h2>
      <h2>{{pictureCtrl.picture.postedAt | date}}</h2>
      <button type="submit" ng-click="pictureCtrl.makeProfilePicture(pictureCtrl.picture.src)">Make Profile Picture</button>

  </div>

  <div class="picturesContainer">
    <div ng-repeat="picture in pictureCtrl.pictures">
      <div class="col-xs-12 col-sm-6 picturesOuterContainer">
        <img class="picturesInnerContainer" ng-click="pictureCtrl.getPicture(picture)"ng-src="https://s3.amazonaws.com/powplanner/{{picture.src}}" />
      </div>
    </div>
  </div>

</div>
