<div class="row" ng-class="tripCtrl.displayTrip()">
  <div class="col-xs-12">
    <div class="row" ng-show="tripCtrl.trip.title">
        <h1>Title: {{tripCtrl.trip.title}}</h1>
        <h2>Where: {{tripCtrl.trip.location}}</h2>
        <h3>Info: {{tripCtrl.trip.info}}</h3>
        <h2>Start: {{tripCtrl.trip.startDate | date :"MMM d,yyyy 'at' h:mma"}}</h2>
        <h2>End: {{tripCtrl.trip.endDate | date :"MMM d,yyyy 'at' h:mma"}}</h2>
        <h2>People: </h2>
        <div ng-repeat="person in tripCtrl.trip.people">
            <h3>{{person}}</h3>
        </div>
    </div>
  </div>
</div>
