<div class="row" ng-class="tripCtrl.displayTrips()">
  <div class="col-xs-12">
    <div class="row">
        <h2 class="col-xs-3">Sort By:</h2>
        <h3 class="col-xs-3" ng-click="tripCtrl.doSort('startDate')">Start Date </h3>
        <!-- <h3 class="col-xs-3" ng-click="tripCtrl.doSort('endDate')">End Date </h3> -->
        <h3 class="col-xs-3" ng-click="tripCtrl.doSort('title')">Title </h3>
    </div>
    <div class="row">
      <form>
        <input type="text" ng-model="tripCtrl.search.title" placeholder="Title">
        <!-- <input type="text" ng-model="tripCtrl.search.user" placeholder="User"> -->
        <button type="submit" ng-click="tripCtrl.makeSearch()">Search</button>
      </form>
    </div>
    <div class="row trips_cont">
        <div class="trips_inner">
            <div class="trips row" ng-repeat="trip in  tripCtrl.trips| filter:tripFilter | orderBy:tripCtrl.sortBy">
                <div ng-click="tripCtrl.getTrip(trip._id)">
                    <div class="col-xs-6">
                        <h2>{{trip.title}}</h2>
                        <h3>{{trip.info}}</h3>
                    </div>
                    <div class="col-xs-6">
                        <h3>From: {{trip.startDate | date :"MMM d,yyyy 'at' h:mma"}}</h3>
                        <h3>To: {{trip.endDate | date :"MMM d,yyyy 'at' h:mma"}}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

  </div>
</div>
