<div class="row" ng-class="tripCtrl.displayTrip()">
  <div class="col-xs-12">

    <div class="row">
      <h1>New Trip</h1>
      <form name="newTripForm" class="newTripForm">
        <div class="col-xs-12 col-lg-4">
            <input type='text' ng-model="tripCtrl.newTrip.title" ng-minlength="3" ng-maxlength="64" ng-class="tripCtrl.getCSS(newTripForm.title)" name='title' placeholder='Title' required/>
            <br>
            <div ng-show="!newTripForm.title.$pristine && newTripForm.title.$invalid">You must enter a valid Title.</div>

            <input type='text' ng-model="tripCtrl.newTrip.info" ng-minlength="3" ng-maxlength="512" ng-class="tripCtrl.getCSS(newTripForm.info)" name='info' placeholder='Info' required/>
            <br>
            <div ng-show="!newTripForm.info.$pristine && newTripForm.info.$invalid">You must enter valid Info.</div>

            <input type='text' ng-model="tripCtrl.newTrip.location" ng-minlength="2" ng-maxlength="128" ng-class="tripCtrl.getCSS(newTripForm.location)" name='location' placeholder='Location' required/>
            <br>
            <div ng-show="!newTripForm.location.$pristine && newTripForm.location.$invalid">You must enter a valid Location.</div>
        </div>
        <div class="col-xs-12 col-lg-4">
            Start Date:<br>
            <input type='datetime-local' ng-model="tripCtrl.newTrip.startDate" ng-class="tripCtrl.getCSS(newTripForm.startDate)" name='startDate' required/>
            <br>
            <div ng-show="!newTripForm.startDate.$pristine && newTripForm.startDate.$invalid">You must enter a valid Start Date.</div>

            End Date:<br>
            <input type='datetime-local' ng-model="tripCtrl.newTrip.endDate" ng-class="tripCtrl.getCSS(newTripForm.endDate)" name='endDate' required/>
            <br>
            <div ng-show="!newTripForm.endDate.$pristine && newTripForm.endDate.$invalid">You must enter a valid End Date.</div>
        </div>

        <div class="col-xs-12 col-lg-4">
            People:
            <div ng-repeat="person in tripCtrl.newTrip.people">
                {{person}}
            </div>
            <input type='text' ng-model="tripCtrl.person" ng-minlength="3" ng-maxlength="128" ng-class="tripCtrl.getCSS(newTripForm.person)" name='person' placeholder='Add Person'/>
            <button type='submit' ng-click="tripCtrl.findPerson()"> Add Person
            </button>
            <br>
            <div ng-show="!newTripForm.person.$pristine && newTripForm.person.$invalid">You must enter a valid Person.</div>
        </div>
        <div class="col-xs-12">
            <button type='submit' ng-click="tripCtrl.postTrip()"> Create Trip
            </button>
        </div>
      </form>
      <div ng-model="tripCtrl.message">{{tripCtrl.message}}</div>
    </div>

  </div>
</div>
